.login-register-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
}

.form-title {
  text-align: center;
  margin-bottom: 16px;
}

.form-button {
  margin-top: 16px;
  margin-bottom: 16px;
}

.alert {
  margin-bottom: 16px;
}

.registration-accordion {
  margin-top: 20px;
}

.registration-accordion:hover {
    background-color: #fafafa;
}