.topbar-appBar {
  height: 60px;
}

.topbar-toolbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.topbar-spacer {
  flex-grow: 1;
}

.topbar-upload-form {
  display: flex;
  align-items: center;
}